* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-inline: auto;
  padding-inline: 70px;
}

nav ul li .drop_bar {
  display: none;
}

nav ul li:hover .drop_bar   {
  display: block;
}
